.sidebar{
    position: fixed;
    width: 85px;
    left: 0;
    bottom: 0;
    top: 75px;
    background-color: white;
    z-index: 100;
}
.sidebar-link{
    height: 90px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-link:hover{
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.sidebar-link img{
    height: 30px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 12px;
    margin-top: 5px;
   
}